<style>
  *{
    margin: 0px;
    padding: 0px;
  }
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: crimson;
  color: white;
  text-align: center;
  height: 70px;
  margin-bottom: -20px;
}
i{
  font-size: 25px;
  padding-left: 15px;
  margin-top: 30px;
}
a{
  color: black;
}
</style>
<head>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
    crossorigin="anonymous"
  />
</head>
<div class="footer">
  <a href="https://www.linkedin.com/in/punit-tiwari-610793183/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/All-In-Coder" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.instagram.com/iampunit3/?hl=en" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
</div>